/************************************
          General
************************************/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #939598;
}

a   {
  text-decoration: none;
}

/************************************
          Header
************************************/

header  {
  width: 100%;
  height: auto;
  background: #E5F3F2;
}

.input-container  {
  width: 600px;
  height: 210px;
  margin: auto;
  background: #E5F3F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea   {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  color: #00A79D;
  margin: 25px 0 25px 0;
}

.box   {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  color: #6D6E71;
  margin: 0 0 0 0;
}

.input-title  {
  height: 25px;
  width: 350px;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #939598;
}

.input-body {
  height: 25px;
  width: 350px;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #939598;
}

input::placeholder {
  color: #939598;
}

.save-button {
  height: 25px;
  width: 350px;
  margin: 0 0 0 0;
  background: #00A79D;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
}

button:active {
  outline: none;
}

.save-button:hover {
  background: #045E55;
}

/************************************
          Main
************************************/

main {
  width: 100%;
  height: auto;
}

.search-container {
  width: 600px;
  margin: auto;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  height: 25px;
  width: 350px;
  margin: auto;
  font-size: 14px;
  color: #939598;
}

.card-container {
  width: 600px;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-card {
  width: 350px;
  height: 200px;
  margin: auto;
}

.idea-title {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #6D6E71;
  margin: 0 0 0 0;
  display: inline;
}

.delete-button {
  height: 20px;
  width: 20px;
  background: none;
  float: right;
  border: none;
  background-repeat: round;
  background-image: url("assets/delete.svg");
}
