/************************************
          General
************************************/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #939598;
}

button:focus {
outline: none;
border: none;
}

textarea:focus {
outline: none;
border: none;
}


/************************************
          Header
************************************/

header  {
  width: 100%;
  height: auto;
  background: #E5F3F2;
}

.input-container  {
  width: 600px;
  height: 210px;
  margin: auto;
  background: #E5F3F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea   {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  color: #00A79D;
  margin: 25px 0 25px 0;
}

.box   {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  font-weight: 700;
  color: #6D6E71;
  margin: 0 0 0 0;
}

.input-title  {
  height: 25px;
  width: 350px;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #D1D3D4;
  /*border-width: 1px;
  border-color: #D1D3D4;*/
  border: solid 2px #D1D3D4;
}

.input-body {
  height: 25px;
  width: 350px;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #D1D3D4;
  resize: none;
  /*border-style: inset;*/
  border-width: 2px;
  border-color: #D1D3D4;
}

input::placeholder {
  color: #939598;
  opacity: .8;
}

textarea::placeholder {
  color: #939598;
  opacity: .8;
}

.save-button {
  height: 25px;
  width: 350px;
  margin: 0 0 0 0;
  background: #00A79D;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
}

button:active {
  outline: none;
}

.save-button:hover {
  background: #045E55;
}

/************************************
          Main
************************************/

main {
  width: 100%;
  height: auto;
}

.search-container {
  width: 600px;
  margin: auto;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  height: 25px;
  width: 350px;
  margin: auto;
  font-size: 14px;
  color: #939598;
  border: solid 2px #D1D3D4;
}

.card-container {
  width: 600px;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* idea card layout */
.idea-card {
  width: 350px;
  height: 200px;
  margin: auto;
}

.idea-title {
  width: 315px;
  outline: none;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #6D6E71;
  margin: 0 0 0 0;
  display: inline;
}

.delete-button {
  height: 20px;
  width: 20px;
  background: none;
  float: right;
  border: none;
  background-repeat: round;
  background-image: url("assets/delete.svg");
}

.delete-button:hover  {
  background-image: url('assets/delete-hover.svg');
}

.idea-body {
  font-size: 12px;
  color: #939598;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 348px;
  height: 100px;
  border: none;
  resize: none;
}

.button-container {
  height: 22px;
  width: 100%;

}

.arrow-up {
  height: 20px;
  width: 20px;
  margin-right: 7px;
  background: none;
  border: none;
  background-repeat: round;
  display: inline;
  background-image: url("assets/upvote.svg");
}

.arrow-up:hover {
  background-image: url('assets/upvote-hover.svg');
}

.arrow-down {
  height: 20px;
  width: 20px;
  margin-right: 7px;
  background: none;
  border: none;
  background-repeat: round;
  display: inline;
  background-image: url("assets/downvote.svg");
}

.arrow-down:hover {
  background-image: url('assets/downvote-hover.svg');
}

.quality {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  color: #6D6E71;
  margin: 0 0 0 0;
  display: inline;
  position: relative;
  top: -3px;
}

.quality-value {
  font-size: 12px;
  color: #6D6E71;
  margin: 0 0 0 0;
  display: inline;
  position: relative;
  top: -3px;
}

hr {
  height: 2px;
  border: none;
  margin: 10px 0 10px 0;
  color: #D1D3D4;
  background-color: #D1D3D4;
}
